.details {
    min-height: 100vh;
}

.details .container {
    max-width: 700px;

    width: 100%;
    margin: 7rem auto 3rem auto;
    background: #eee;
}
.details .container .image {
    max-width: 100%;
    background: red;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.details .container .image img {
    width: 100%;
    object-fit: cover;
}
.content {
    padding: 20px 10px;
}
.details .container h1 {
    color: rgba(10, 118, 0, 0.906);
    font-weight: 500;
}

.back {
    text-decoration: none;
    color: #fff;
    padding: 10px 22px;
    background: rgba(10, 118, 0, 0.906);
    border-radius: .5rem;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 30px;

}


@media (max-width: 768px) {
    .details .container {
        max-width: 500px;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .details .container {
        max-width: 400px;
        width: 100%;
    }
    html {
        font-size: 85%;
    }
    .back {
        left: 13px;
    }
}

@media (max-width:478px){
    .details .container {
        max-width: 350px;
        width: 100%;
    }
}